
* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Open Sans", sans-serif;
}

/*.page-wrap {
  min-height: 100%;
  margin-bottom: -70px;
  overflow: hidden;
}
*/

.contenedor_max {
  max-width: 600px;
  min-height: 100%;
  margin: auto;
  height: auto;
}

/* ----------------------- Header --------------------- */

.header {
  text-align: center;
  background-color: #79b3bb;
  background-color: #ff8282;
  background-color: #f5f5f5;
  background-color: #f2f3f8;
  height: 50px;
  position:relative;
  width: 100%;
  top: 0;
  left: 0;
}


#logo {
  margin-top: 10px;
}

.header_btn {
  position: absolute;
  right: 10px;
  top: 10px;
  /*background-color: #444444;*/
}

.a_add {
  color: #ffffff;
  text-decoration: none;
  background-color: #444444;
  font-size: 20px;
  padding-right: 9px;
  padding-left: 9px;
  padding-top: 0px;
  padding-bottom: 0px;
}

a.a_add:hover {
  color: #f3aff3;
	text-decoration: none;
  background-color: #6d6d6d;
}

/* ---------------footer--------------- */

.site-footer {
  min-height: 70px;
  height: 100%;
  width: 100%;
  background-color: #444444;
  bottom: 0px;
  overflow:hidden;
  margin-top: 20px;

}

.logo_footer {
  opacity: 0.6;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}

.logo_footer.django {
    margin-top: 28px;
}


/* ----------------------- Filters ----------------- */
/* ----------------------- Links ------------------- */

.filter {
  position: relative;
  height: 45px;
  /* esta altura es importante para que la lista de minerales no se superponga */
}

a.filter_btn_a:hover {
  text-decoration:none;

}

div span {
  color: #444444;
}

.filter_links {
  position: absolute;
  left: 10px;
  top: 10px;
}

.filter_links_a {
  color: #444444;
	text-decoration: none;
  font-size: 12px;
  width: 20px;
  height: 15px;
}

a.filter_links_a {
  color: #df20de;
	text-decoration: none;
}

a.filter_links_a:hover {
  color: #f3aff3;
	text-decoration: none;
}

a.filter_links_a.active {
  color: #444444;
}
 /* Lo que hay justo debajo es el hover de "Lista AZ" */
a.filter_links_a.active:hover {
  color: #f3aff3;
	text-decoration: none;
}

/* ------------------ Filter Buttons página listado---------------- */

.filter_btn {
  position: absolute;
  right: 10px;
  top: 13px;
}

#invisible {
  opacity: 0;
}

#listado {
  background: url(../imgs/icon_filter_listado_gris.png) no-repeat;
  width: 20px;
  height: 15px;
  display: inline-block;
}

 /* Lo que hay justo debajo es el hover del icono "listado" */
#listado:hover {
  background: url(../imgs/icon_filter_listado_rosa.png) no-repeat;
  width: 20px;
  height: 15px;
  display: inline-block;
}

#mosaico {
  background: url(../imgs/icon_filter_mosaico_morado.png) no-repeat;
  width: 20px;
  height: 15px;
  display: inline-block;
}

#mosaico:hover {
  background: url(../imgs/icon_filter_mosaico_rosa.png) no-repeat;
  width: 20px;
  height: 15px;
  display: inline-block;
}

/* -------------- Filter Buttons página mosaic -------------- */

#listado_m {
  background: url(../imgs/icon_filter_listado_morado.png) no-repeat;
  width: 20px;
  height: 15px;
  display: inline-block;
}

 /* Lo que hay justo debajo es el hover del icono "listado" */
#listado_m:hover {
  background: url(../imgs/icon_filter_listado_rosa.png) no-repeat;
  width: 20px;
  height: 15px;
  display: inline-block;
}

#mosaico_m {
  background: url(../imgs/icon_filter_mosaico_gris.png) no-repeat;
  width: 20px;
  height: 15px;
  display: inline-block;
}

#mosaico_m:hover {
  background: url(../imgs/icon_filter_mosaico_rosa.png) no-repeat;
  width: 20px;
  height: 15px;
  display: inline-block;
}

/* ---------------------- Lista Minerales --------------- */

.lista_minerales {
}

ul {
  list-style-type:none;
  padding-left: 10px;
  padding-right: 10px;
}

.align {
  float: left;
}

.align.text {
  margin-left: 10px;
  margin-top: 23px;
}

div h3 {
  font-size: 16px;
  font-weight: normal;
  color: #444444;
}

.location_list {
  font-size: 12px;
  color: #888888;
}

li {
  margin-top: 5px;
  border-bottom: 1px solid #e6e6e6;
  overflow:hidden;
}

.arrow {
  float: right;
  margin-top: 35px;
  margin-right: 5px;
}

ul a li:hover {
  background-color: #f5f5f5;
}

/* ---------------------- Mosaico Minerales --------------- */

.mosaic_contenedor {
 /*display: none;*/
}

.item_mosaic {
  position: relative;
  float: left;
  padding-left: 10px;
  padding-bottom: 5px;
  width: 90px;
  height: 95px;
}

.mineral_mosaic_name {
 background-color: rgba(0,0,0,0.6);
 width: 90px;
 height: 22px;
 display: inline;
 position: absolute;
 left: 10px;
 bottom: 10px;
}

h4 {
  color: #ffffff;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  margin-top: 2px;
}

/* ----------------------------Categorias mineral-------------------- */

.categories_contenedor {
display: none;
}

.list_categories {
  margin-top: 5px;
  margin-bottom: 12px;
}

.arrow_category {
  float: right;
  margin-top: 8px;
  margin-right: 5px;
  margin-left: 20px;
  margin-bottom: 10px;
  top: 0;
}

li.category {
  /*margin-top: 5px;*/
  border-bottom: 1px solid #e6e6e6;
  overflow:hidden;
}

ul a li.category:hover {
  background-color: #f5f5f5;
}

.category_title {
  background-color: #f3aff3;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

div.category_title span {
  color: #ffffff;
  margin-left: 5px;
}

/* ----------------------------Detalle mineral-------------------- */

.over_line {
  border: 1px solid #b8b8b8;
}

/* ----------------Pagination------------- */

.pagination_area {
  background-color: #444444;
  height: 25px;
  /*position:relative;*/
}

.anterior {
  float: left;
  margin-left: 10px;
}

.siguiente {
  float: right;
  right: 0;
  top: 0;
}

.pagination {
  font-size: 12px;
  color: #888888;
  text-decoration: none;
}

.pagination:hover {
  color: #ffffff;
  text-decoration: none;
}


.pagination_arrow_l {
 margin-top: 6px;
 width: 5px;
 float: left;
}

.pagination_arrow_r {
  margin-right: 10px;
  margin-top: 6px;
  float: right;
  width: 5px;
}



/* ------------------ficha-------------- */

.ficha {
  background-color: #f2f3f8;
  padding: 0px 10px 15px 10px;
}

.name_detail {
  font-size: 26px;
  color: #ff8282;
  /*color: black;*/
  padding-top: 5px;
}

.img_detail {
  float: right;
}

.titulo_ficha {
  font-weight: bold;
  font-size: 14px;
  color: #444444;
}

.contenido_ficha {
  font-weight: normal;
}

.page {
  background-color: #444444;

}

/* ------------------description------------- */

.contenido_detail {
 margin: 15px 10px 30px 10px;
}

h5 {
  font-size: 14px;
  color: #444444;
}

.contenido_descripcion {
  font-weight: normal;
  font-size: 14px;
  color: #444444;
}













/* ----------------------  ---------------
