{% extends 'collection/base.html' %}
{% load staticfiles %}

{% block content %}
        <p>Name: {{mineral.name|safe}}</p>
        <p>Description: {{mineral.description|safe}}</p>
        <p>Location: {{mineral.location|safe}}</p>
        <p>Chemical composition: {{mineral.chemical_composition|safe}}</p>
        <p>Strength: {{mineral.strength}}</p>
        {% for image in mineral.images.all %}
            <img src="{{ image.image.url }}" width="100" height="100"/>
        {% endfor %}
{% endblock content %}
