{% extends 'collection/base.html' %}
{% load staticfiles %}

{% block content %}

 <div class="over_line"></div>

 {% if mineral_prev %}
 <a href="{% url 'detail' mineral_prev %}" target="_self">Anterior</a>
 {% endif %}
 <div class="ficha">
   <div class="contenedor_max">
      <img class="img_detail" src="{{mineral.thumbnail.url}}" alt="picture mineral" />
      <p class="name_detail">{{mineral.name|safe}}</p>
      <p class="location_list">{{mineral.location|safe}}</p>
      <br />
      <p class="titulo_ficha">Dureza:&nbsp;<span class="contenido_ficha"> {{mineral.strength}}</span></p>
      <p class="titulo_ficha">Fórmula química:&nbsp;<span class="contenido_ficha"> {{mineral.chemical_composition|safe}}</span></p>
      <p class="titulo_ficha">Sistema de cristalización:&nbsp;<span class="contenido_ficha"> {{mineral.crystalization_system|safe}}</span></p>
      <p class="titulo_ficha">Tipología:&nbsp;<span class="contenido_ficha"> {{mineral.get_kind_display|safe}}</span></p>
   </div>
 </div>

 <div class="contenido_detail">
   <div class="contenedor_max">
        <h5>Descripción:</h5>
        <p class="contenido_descripcion">{{mineral.description|safe}}</p>
        <br />
        <h5>Yacimientos:</h5>
        <p class="contenido_descripcion">{{mineral.mineral_deposit|safe}}</p>
    </div>
 </div>
        {% for image in mineral.images.all %}
            <img src="{{ image.image.url }}" width="100%" height="100%"/>
        {% endfor %}

 {% if mineral_next %}
 <a href="{% url 'detail' mineral_next %}" target="_self">Siguiente</a>
 {% endif %}
{% endblock content %}
