{% extends 'collection/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="contenedor_max">
  <div class="filter">
      <div class="filter_links">
        <a class="filter_links_a active" href="/?d=list">Lista AZ</a>
        <span> | </span>
        <a class="filter_links_a open-categories" href="#">Categorías</a>
      </div>

      <div class="filter_btn">
        <a id="listado" href="/?d=list"></a>
        <span id="invisible"> | </span>
        <a id="mosaico" href="/?d=mosaic"></a>
      </div>
  </div>
</div>

<!-- Lo de abajo es el título de la categoría-->
{% if kind %}
<div class="category_title"><span>{{ kind_desc }}</span></div>
{% endif %}


<div class="contenedor_max">
    <div class="lista_minerales hide-categories-section">

      <ul>
        {% for mineral in minerals %}
        {% if kind %}
        <a href="{% url 'detail' mineral.id %}?k={{kind}}" alt="mineral item">
        {% else %}
          <a href="{% url 'detail' mineral.id %}" alt="mineral item">
        {% endif %}
          <li>
            <div class="align">
              <img src="{{mineral.thumbnail.url}}">
            </div>
            <div class="align text">
              <h3>{{mineral.name|safe}}</h3>
              <p class="location_list">{{mineral.location|safe}}</p>
            </div>
            <div>
              <img class="arrow" src="{% static "imgs/arrow.png" %}" alt="arrow" />
            </div>
          </li>
        </a>
        {% endfor %}
        </ul>
    </div>
</div>

<div class="contenedor_max">
        <div class="categories_contenedor show-categories-section">

            <ul>
              <a href="{% url 'list' %}?k=ELEMENTS">
                  <li>
                    <div class="align">
                      <h3 class="list_categories">1. Elementos nativos</h3>
                    </div>
                    <div>
                      <img class="arrow_category" src="{% static "imgs/arrow.png" %}" alt="arrow" />
                    </div>
                  </li>
              </a>

              <a href="{% url 'list' %}?k=SULFIDES">
                  <li>
                    <div class="align">
                      <h3 class="list_categories">2. Sulfuros y Sulfosales</h3>
                    </div>
                    <div>
                      <img class="arrow_category" src="{% static "imgs/arrow.png" %}" alt="arrow" />
                    </div>
                  </li>
              </a>

              <a href="{% url 'list' %}?k=HALIDES">
                  <li>
                    <div class="align">
                      <h3 class="list_categories">3. Haluros</h3>
                    </div>
                    <div>
                      <img class="arrow_category" src="{% static "imgs/arrow.png" %}" alt="arrow" />
                    </div>
                  </li>
              </a>

              <a href="{% url 'list' %}?k=OXIDES">
                  <li>
                    <div class="align">
                      <h3 class="list_categories">4. Óxidos e hidróxidos</h3>
                    </div>
                    <div>
                      <img class="arrow_category" src="{% static "imgs/arrow.png" %}" alt="arrow" />
                    </div>
                  </li>
              </a>

              <a href="{% url 'list' %}?k=CARBONATES">
                  <li>
                    <div class="align">
                      <h3 class="list_categories">5. Carbonatos y nitratos</h3>
                    </div>
                    <div>
                      <img class="arrow_category" src="{% static "imgs/arrow.png" %}" alt="arrow" />
                    </div>
                  </li>
              </a>

              <a href="{% url 'list' %}?k=BORATES">
                  <li>
                    <div class="align">
                      <h3 class="list_categories">6. Boratos</h3>
                    </div>
                    <div>
                      <img class="arrow_category" src="{% static "imgs/arrow.png" %}" alt="arrow" />
                    </div>
                  </li>
              </a>

              <a href="{% url 'list' %}?k=SULFATES">
                  <li>
                    <div class="align">
                      <h3 class="list_categories">7. Sulfatos, cromatos, molibdatos y wolframatos</h3>
                    </div>
                    <div>
                      <img class="arrow_category" src="{% static "imgs/arrow.png" %}" alt="arrow" />
                    </div>
                  </li>
              </a>

              <a href="{% url 'list' %}?k=PHOSPHATES">
                  <li>
                    <div class="align">
                      <h3 class="list_categories">8. Fosfatos, arseniatos y vanadatos</h3>
                    </div>
                    <div>
                      <img class="arrow_category" src="{% static "imgs/arrow.png" %}" alt="arrow" />
                    </div>
                  </li>
              </a>

              <a href="{% url 'list' %}?k=SILICATES">
                  <li>
                    <div class="align">
                      <h3 class="list_categories">9. Silicatos</h3>
                    </div>
                    <div>
                      <img class="arrow_category" src="{% static "imgs/arrow.png" %}" alt="arrow" />
                    </div>
                  </li>
              </a>

              <a href="{% url 'list' %}?k=ORGANIC">
                  <li>
                    <div class="align">
                      <h3 class="list_categories">10. Sustancias orgánicas</h3>
                    </div>
                    <div>
                      <img class="arrow_category" src="{% static "imgs/arrow.png" %}" alt="arrow" />
                    </div>
                  </li>
              </a>


            </ul>

        </div>
</div>



{% endblock content %}
