{% extends 'collection/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="filter">

  <div class="filter_links">
    <a class="filter_links_a active" href="#">Lista AZ</a>
    <span> | </span>
    <a class="filter_links_a" href="#">Categorías</a>
  </div>

  <div class="filter_btn">
    <a id="listado" href=""></a>
    <span id="invisible"> | </span>
    <a id="mosaico" href=""></a>
  </div>

</div>

<div class="lista_minerales">

  <ul>
    {% for mineral in minerals %}
    <li>
        <div class="align">
          <img src="imgs/minerales/thumbnails/Adularia_1.jpg">
        </div>
        <div class="align text">
          <h3>{{mineral.name|safe}}</h3>
          <p>{{mineral.location|safe}}</p>
        </div>
        <div>
          <img class="arrow" src="{% static "imgs/arrow.png" %}" alt="arrow" />
        </div>
    </li>
    {% endfor %}
    </ul>

  </div>

{% endblock content %}
