{% extends 'collection/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="filter">

  <div class="filter_links">
    <a class="filter_links_a active" href="/?d=list">Lista AZ</a>
    <span> | </span>
    <a class="filter_links_a" href="/?d=kind">Categorías</a>
  </div>

  <div class="filter_btn">
    <a id="listado_m" href="/?d=list"></a>
    <span id="invisible"> | </span>
    <a id="mosaico_m" href="/?d=mosaic"></a>
  </div>

</div>

<div class="mosaic_contenedor">

    {% for mineral in minerals %}
    <a href="{% url 'detail' mineral.id %}" alt="mineral item">
      <div class="item_mosaic">
        <img src="{{mineral.thumbnail.url}}">
        <div class="mineral_mosaic_name"><h4>{{mineral.name|safe}}</h4></div>
      </div>
    </a>
    {% endfor %}

</div>

{% endblock content %}
